.nav-left{
  .logo{
    line-height: 90px;
    background-color: red;
    padding-left: 20px;
    img{
      height: 35px;
      width: 40px;
    }
    h1{
      color: #fff;
      font-size: 20px;
      padding-left:10px;
      background:red;
    }
  }
}
